
@import-normalize;

.App {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
}

/*.App-header {
  height: '60px';
    background-color: 'rgba(255,255,255,.3)';
    flex-shrink: 0;
}*/